# === Python Caches ===
__pycache__/
*.py[cod]
*$py.class

# === Virtual Environments ===
.venv/
venv/
env/
ENV/
.env
*.env

# === Build / Packaging ===
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# === PyInstaller ===
# Usually these files are generated after PyInstaller
